
*.plist

FPT/Builds/MacOSX/build/Debug/FPT.app/Contents/MacOS/FPT

*.nib

*.pbxproj

FPT/Builds/MacOSX/build/Debug/FPT.app/Contents/PkgInfo

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcscheme

*.xcbkptlist
